<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/mattfasullo/MediaDash/refs/heads/claude/connect-local-repo-01CPxkYmhD3wBLCZhFMohevC/appcast.xml?token=GHSAT0AAAAAADPSOP6AM2RDNBL3U5J3C2B22I7PTCQ</string>
</dict>
</plist>
