<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/MediaDash.app</string>
		<key>Architectures</key>
		<array>
			<string>x86_64</string>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>mattfasullo.MediaDash</string>
		<key>CFBundleShortVersionString</key>
		<string>0.4.0</string>
		<key>CFBundleVersion</key>
		<string>36</string>
		<key>SigningIdentity</key>
		<string>Apple Development: matthewnf199@gmail.com (ABDF2AWA82)</string>
		<key>Team</key>
		<string>9XPBY59H89</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2025-11-25T03:30:05Z</date>
	<key>Name</key>
	<string>MediaDash</string>
	<key>SchemeName</key>
	<string>MediaDash</string>
</dict>
</plist>
